#layout{
    -fx-background-image: url("fond_ecran.jpg");
    -fx-background-size: 1000 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#go,#go_IA{
    -fx-font-size: 11pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: white;
    -fx-background-insets: 50;
    -fx-background-position: center center;

}

#playCard,#reverseCard{
    -fx-pref-height:150.0;
    -fx-pref-width:100.0;
    -fx-max-height:200.0;
    -fx-max-width:130.0;
}

#mabox{
    /*-fx-vgap:80;
    -fx-hgap:80;*/
    -fx-background-color:eee;
    -fx-border-color:ccc;

}

#monlabel{

}